<!DOCTYPE html>
<html lang="en">
    <title><%= title %></title>
    
    <%- include("./header") %>  
    
    <link rel="stylesheet" href="/css/details.css" /> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<body>
 <br>
  <div class="row-det">
    <div class="column-det">
      <div class="card-det">
          
        <img src="../uploads/<%= store.image %>" class="card-img" alt="profileimage">
      </div>
    </div>
  
    <div class="column-det">
      <div class="card-det">
      <div class="card-text">
       <% const des = store.price + 50  %>     
       <h4><b><%= store.title %></b></h4>
       <h4><i>Price:<%= store.price %> <del style="color: red;"><%= des %></del></i></h4><br>
        <a href="#" class="info"><button class="btn bg-success" ><h4>Add to cart</h4></button></a>
        <a href="#" class="info"><button class="btn bg-danger"><h4>Buy Now</h4></button></a>
        <br><br>
        <h4>Product Info:</h4>
        <p><%= store.des %></p>
      </div>
      </div>
    </div>
    </div>
  
    <br>
    <%- include("./footer") %>   
    
</body>
</html>