<!DOCTYPE html>
<html lang="en">
    <%- include("./header") %>
    <title><%= title %></title>
<body>
     
    <% if(success !=''){%>
        <div class="alert alert-success">
          <strong>Success!</strong> <%= success %>
        </div>
        <% } %>
      <br>
    <br>
    <div class="container">
        <div class="row">
    <div class="login bg-danger col-6" > 
    <h2>Login</h2><br>       
    <form action="/signin" method="POST" >    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="Uname" placeholder="Username">    
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="Pass" placeholder="Password">    
        <br><br>    
        <input type="submit" class="btn-success" value="Log In">       
        <br><br>    
        <input type="checkbox">    
        <span>Remember me</span>    
        <br><br>    
        Forgot <a href="#">Password</a>    
    </form>     
</div> 

<div class="login bg-info col-6" > 
    <h2>Signup</h2><br>       
    <form action="/signup" method="POST" >    
        <label><b>User Name     
        </b>    
        </label>    
        <input type="text" name="uname"  placeholder="Username"s>  
        <% if(error.uname){ %> 
        <b class="text-danger"> <%= error.uname.msg %></b> 
        <% } %>
        <br><br>    
        <input type="text" name="contact"  placeholder="Contact no."s>  
        <br><br>
        <input type="text" name="uni_name"  placeholder="University"s>  
    
        <br><br>
        <input type="text" name="mail"  placeholder="Email address"s>  
        
        <br><br>
        <label><b>Password     
        </b>    
        </label>    
        <input type="Password" name="pass"  placeholder="Password"> 
        <% if(error.pass){ %> 
            <b class="text-danger"> <%= error.pass.msg %></b> 
            <% } %>
        <br><br> 
            
        <label><b>Confirm-Password     
        </b>    
        </label>    
        <input type="Password" name="cpass" placeholder="Password"><br> 
        <% if(error.cpass){ %> 
            <b class="text-danger"> <%= error.cpass.msg %></b> 
            <% } %>
        <br><br>    
        <br><br>       
        <input type="submit" class="btn-success" name="log"  value="Sign Up">       
        <br><br>    
            
    </form>     
</div> 
</div> 
</div> 
    <br>
    <br>
    <%- include("./footer") %>   
    
</body>
</html>